<h2>Register</h2>

<% // Register as new user %> 
<form action="/register" method="POST">
    <label> Name </label>
    <input type="text" name="name">
    <br>

    <label> Email </label>
    <input type="text" name="email">
    <br>

    <label> Password </label>
    <input type="text" name="password">
    <br>

    <button type="submit"> Register </button>
</form>