<header>
    <nav>
        <a href="/">SurveyMe</a>
        <ul>
            <li><a href="/surveys">Surveys</a></li>
            <li><a href="/surveys/new">Create Surveys</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/auth/register">Register</a></li>
        </ul>
    </nav>
</header>