<h2>Search Surveys</h2>

<% // Search bar to search for surveys %> 
<form action="/surveys" method="GET">
    <label> Name </label>
    <input type="text" name="name" id="search_value" value="<%= searchOptions.name %>">
    <button type="submit"> Search </button>
</form>

<br><br>

<% // Displays each survey name %> 
<% surveys.forEach(survey => { %>
    <div> <%= survey.name  %> </div>
<% }) %>
